PyWavelets==1.3.0
pycparser==2.21
setuptools==68.0.0
comm==0.1.4
typing_extensions==4.7.1
gast==0.5.3
huggingface-hub==0.16.4
cached-property==1.5.2
tqdm==4.67.1
prompt-toolkit==3.0.36
nibabel==4.0.2
future==0.18.2
PySocks==1.7.1
wcwidth==0.2.5
pickleshare==0.7.5
nvidia-cuda-runtime-cu11==11.7.99
requests==2.25.1
requests==2.31.0
urllib3==1.26.20
urllib3==2.0.7
traitlets==5.7.1
idna==3.10
idna==2.10
torchaudio==0.2
ipykernel==6.16.2
Werkzeug==2.2.2
pydicom==2.4.4
wandb==0.18.7
importlib-metadata==4.11.3
Keras-Applications==1.0.8
nest_asyncio==1.6.0
parso==0.8.3
toml==0.10.2
setproctitle==1.3.3
mkl-service==2.4.0
opencv-python==4.6.0
colorama==0.4.6
chardet==4.0.0
debugpy==1.6.3
pyparsing==3.0.9
nvidia-cublas-cu11==11.10.3.66
widgetsnbextension==4.0.14
pyzmq==24.0.1
sentry-sdk==2.39.0
Pygments==2.11.2
python-dateutil==2.8.2
fonttools==4.25.0
GitPython==3.1.45
pexpect==4.8.0
backcall==0.2.0
termcolor==2.1.0
h5py==3.7.0
jupyterlab_widgets==3.0.15
tifffile==2021.11.2
sip==6.7.2
tornado==6.2
ptyprocess==0.7.0
Brotli==1.0.9
tensorboard==1.14.0
smmap==5.0.2
ipython==7.31.1
jupyter_core==4.11.1
nvidia-cuda-nvrtc-cu11==11.7.99
cycler==0.11.0
kiwisolver==1.4.4
entrypoints==0.4
tensorflow-estimator==1.14.0
fsspec==2023.1.0
PyQt5==5.15.7
MarkupSafe==2.1.1
piq==0.8.0
click==8.1.8
PyYAML==6.0
Markdown==3.4.1
tensorflow==1.14.0
gitdb==4.0.12
jupyter_client==7.4.9
certifi==2025.8.3
six==1.16.0
astor==0.8.1
flit_core==3.6.0
networkx==2.6.3
cffi==1.15.1
pytz==2025.1
filelock==3.16.1
scikit-learn==1.0.2
torchvision==0.14.1
platformdirs==4.0.0
wheel==0.42.0
POT==0.9.6.post1
imageio==2.34.0
torch==1.13.1
protobuf==4.21.8
google-pasta==0.2.0
threadpoolctl==2.2.0
scipy==1.7.3
zipp==3.11.0
Keras-Preprocessing==1.1.2
pandas==1.3.5
jedi==0.18.1
timm==0.6.13
grpcio==1.12.1
numpy==1.21.6
torchmetrics==0.11.4
joblib==1.1.1
scikit-image==0.19.3
geomloss==0.2.6
wrapt==1.14.1
munkres==1.1.4
Pillow==9.5.0
einops==0.6.1
docker-pycreds==0.4.0
mkl-random==1.2.2
nvidia-cudnn-cu11==8.5.0.96
matplotlib==3.5.3
lpips==0.1.4
ply==3.11
psutil==5.9.3
decorator==5.1.1
matplotlib-inline==0.1.6
pip==22.3.1
mkl-fft==1.3.1
charset-normalizer==3.4.3
packaging==22.0
PyQt5-sip==12.11.0
ipywidgets==8.1.7
pytorch-msssim==1.0.0
absl-py==1.3.0
seaborn==0.12.2
